.sub-node {
    padding-left: 20px;
}

.sub-node--shrunk {
    display: none;
}

.node-item{
    background: transparent;
    border: 0px none;
    font-size: 20px;
    cursor: pointer;
}

.nodeItemContainer{
    padding: 5px;
    align-items: center;
    cursor: pointer;
}

.nodeItemContainer:hover{
    background-color: rgba(221, 221, 221, 0.39);
    border-radius: 2px;
}

.selected {
    background-color: rgba(173, 216, 230, 0.67);
    margin: -1px;
    border:1px solid #4890ff;
    border-radius: 2px;
}

.selected:hover{
    background-color: rgba(200, 233, 246, 0.67);
}

